<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chapyo.place.repository.ReviewMapper">

    <insert id="insertReview" useGeneratedKeys="true" keyProperty="reviewId">
        INSERT INTO reviews (place_id, user_id, content, rating)
        VALUES (#{placeId}, #{userId}, #{content}, #{rating})
    </insert>

    <select id="existsReview" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM reviews
        WHERE place_id = #{placeId} AND user_id = #{userId}
    </select>

    <select id="findReviewsByPlaceId" resultType="ReviewResponse">
        SELECT r.review_id, r.place_id, r.user_id, u.nickname,
               r.content, r.rating, r.created_at
        FROM reviews r
                 JOIN users u ON r.user_id = u.user_id
        WHERE r.place_id = #{placeId}
        ORDER BY r.created_at DESC
        LIMIT #{limitSize}
            OFFSET #{offset}
    </select>

    <select id="existsReviewByPlaceId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM reviews
        WHERE review_id = #{reviewId} AND place_id = #{placeId}
    </select>

    <select id="findReviewById" resultType="ReviewResponse">
        SELECT r.review_id, r.place_id, r.user_id, u.nickname,
               r.content, r.rating, r.created_at
        FROM reviews r
                 JOIN users u ON r.user_id = u.user_id
        WHERE r.review_id = #{reviewId}
    </select>

    <update id="updateReview">
        UPDATE reviews
        SET content = #{content},
            rating  = #{rating}
        WHERE review_id = #{reviewId}
    </update>

    <delete id="deleteReview">
        DELETE FROM reviews
        WHERE review_id = #{reviewId}
    </delete>

</mapper>